// Place all the styles related to the labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-info {
  background-color: #009ddc;
}

#labels_title {
  font-size: 24px;
  padding-right: 20px;
}

.label-row {
  float:left;
  margin: 10px;
}