<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#desk_nav_collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EasyDesk</a>
    </div>
    <div class="collapse navbar-collapse" id="desk_nav_collapse">
      <p class="navbar-text navbar-right">Hello <%= current_user.name %></p>
      <%= link_to "Cases", root_path, class: "btn btn-default navbar-btn #{present_nav(root_path)}" %>
      <%= link_to "Labels", labels_path, class: "btn btn-default navbar-btn #{present_nav(labels_path)}" %>
    </div>
  </div>
</nav>