<script id="success_message" type="text/x-handlebars-template">
  <div class="alert alert-success">{{msg}}</div>
</script>

<script id="error_message" type="text/x-handlebars-template">
  <div class="alert alert-danger">{{msg}}</div>
</script>

<script id="append_label" type="text/x-handlebars-template">
  <span class="label label-info">{{label}}</span>
</script>